body{
    font-family: 'Licorice', cursive;
    font-family: 'Poppins', sans-serif;
    margin:0px;
}
.author-name{
    color: orange;
}
.career-obj,.dream-job{

    font-weight: 700;
    
}
.basic-info{
    margin: 50px ;
    padding-left: 2%;
}
.flexible-container{
    display: flex;
    margin-bottom: 150px;
}
.profile-image{
    width: 50%;
    
}

.profile-image img{

    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 1px 0px 0px var(--white);
    border-radius: 50%;
    height: 380px;
    width: 380px;
    margin: 0 5px 0 100px;
}
.cv{
    background-image: linear-gradient(orange, tomato );
    text-decoration: none;
    font-weight: 950;
    padding: 10px 40px;
    color: white;
    border-radius: 5px;
}
.first-section{
    background-image: url('/portfolio/image/top-banner.png');
    background-repeat: no-repeat;
}
.second-section{
    background-image: url('/portfolio/image/dream-bg.png');
    background-repeat: no-repeat;
    background-position: right;
}
.experience{
    background-image: url('/portfolio/image/exp-bg.png');
    background-repeat: no-repeat;
    background-position: left;
}
.dream-big img{

    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 1px 0px 0px var(--white);
    border-radius: 50%;
    height: 380px;
    width: 380px;
    margin: 0 15px 0 100px;
}
.dream-desc{
    margin: 15px;
}
.sm_link{
    width: 50px;
}
.sm_git{
    width: 40px;
    height: 40px;
    margin-bottom: 5px;
}
.project-item{

    width: 50%;
    font-weight: 900;
    margin-left: 2%;
    margin-right: 2%;
    padding-left: 20px;
    border-radius: 10px;
    box-shadow: 10px 10px 30px gray;
    border-left: 5px solid cyan;
}
footer{
    text-align: center;
    font-weight: 900;
}