body{
    font-family: 'Licorice', cursive;
font-family: 'Poppins', sans-serif;
}
.author-name{
    color: orange;
}
.career-obj{

    font-weight: 700;
    padding-right: 20%;

}
section{
    display: flex;
}
.profile-image{
    width: 50%;
    
}

.profile-image img{
    width: 100%;

}
.cv{
    background-image: linear-gradient(orange, tomato );
    text-decoration: none;
    font-weight: 950;
    padding: 10px 40px;
    color: white;
    border-radius: 5px;
}
